body { background-image: url(../images/image.png); }
body { background-image: url(/images/image.png); }
body { background-image: url('/images/image.png'); }
body { background-image: url("/images/image.png"); }